body {
    /*background: #B8EEB3;*/
    padding: 1rem;
}


.app-container {}

.plants,
.categories,
.plant-add-form {
    border: 1px solid #444;
    padding: 1em;
    margin-top: 1em;
}

.plant-add-form {
    width: 100%;

}

.label-form {
    font-size: 1.1em;
    padding-right: 2em;
}